{% if __SELF__.projects|length %}

    <ul class="plugin-list projects-list">
        {% for project in __SELF__.projects %}

            {% if project.images|length %}
                {% set randomizedImages = project.images|shuffle %}
                {% set randomizedImage = randomizedImages|first %}
                {% put styles %}
                    <style>
                        #project-item-id__{{ loop.index }} {
                            position: relative;
                        }
                        #project-item-id__{{ loop.index }}::after {
                            content: "";
                            background: url({{ randomizedImage.path }});
                            top: 0;
                            left: 0;
                            bottom: 0;
                            right: 0;
                            position: absolute;
                            z-index: 1;
                        }
                    </style>
                {% endput %}
            {% endif %}

            {% if project.opacity %}
                {% put scripts %}
                    <script>
                        const hexAlphaValue_{{ loop.index }} = addAlpha('{{ project.bg_color }}', {{ project.opacity }});
                        $('#project-item-id__{{ loop.index }}').css('background-color', hexAlphaValue_{{ loop.index }});
                    </script>
                {% endput %}
                {% put styles %}
                    <style>
                        #project-item-id__{{ loop.index }}::after {
                            opacity: {{ project.opacity }};
                        }
                    </style>
                {% endput %}
            {% elseif project.bg_color %}
                {% put styles %}
                    <style>
                        #project-item-id__{{ loop.index }} {
                            background-color: {{ project.bg_color }};
                        }
                    </style>
                {% endput %}
            {% endif %}

            {% if project.border_width %}
                {% put styles %}
                    <style>
                        #project-item-id__{{ loop.index }} {
                            border-style: solid;
                            border-width: {{ project.border_width }};
                        }
                    </style>
                {% endput %}
            {% endif %}
            {% if project.border_color %}
                {% put styles %}
                    <style>
                        #project-item-id__{{ loop.index }} {
                            border-color: {{ project.border_color }};
                        }
                    </style>
                {% endput %}
            {% endif %}

            <li id="project-item-id__{{ loop.index }}" class="plugin-item project-item">

                {% if project.name %}
                    <h3 class="projet-name">
                        {{ project.name }}
                    </h3>
                {% endif %}

                {% if project.content %}
                    <div class="projet-content">
                        {{ project.content|raw }}
                    </div>
                {% endif %}

                {% if project.basics|length %}
                    <ul class="projet-basics-list">
                        {% for basic in project.basics %}
                            <li class="project-basics-item">

                                {% if basic.name and basic.url %}

                                    {% if basic.colors|length %}
                                        {% set randomizedColors = basic.colors|shuffle %}
                                        {% set randomizedColor = randomizedColors|first %}
                                    {% else %}
                                        {% set randomizedColor = null %}
                                    {% endif %}

                                    <a class="projet-basic-link" href="{{ basic.url }}" {% if randomizedColor %}style="color: {{ randomizedColor }};"{% endif %} {% if basic.new_window %}target="_blank" rel="noopener noreferrer"{% endif %}>
                                        {{ basic.name }}
                                    </a>
                                {% endif %}

                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

            </li>
        {% endfor %}
    </ul>

{% else %}
    <p class="empty-message">No projects added.</p>
{% endif %}
